<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923241469395-o4qm9oihu2e5658kmqnm3qm7pbavilt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923241469395-o4qm9oihu2e5658kmqnm3qm7pbavilt7</string>
	<key>API_KEY</key>
	<string>AIzaSyBpGXzypfx-L4jrUHHQA56Jqup-mjUZDHs</string>
	<key>GCM_SENDER_ID</key>
	<string>923241469395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>my-brew-crew</string>
	<key>STORAGE_BUCKET</key>
	<string>my-brew-crew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923241469395:ios:977964bc51c448f0e88b26</string>
	<key>DATABASE_URL</key>
	<string>https://my-brew-crew.firebaseio.com</string>
</dict>
</plist>